In [1]:
# Importing required packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
# Reading data from csv
top250 = pd.read_csv('top250.csv')
top250 = top250[['Title', 'Year', 'Rating', 'Runtime', 'Genre', 'Director', 'Score', 'BoxOffice']]

# Understand variables

In [9]:
print(f'The dataframe has {top250.shape[0]} rows and {top250.shape[1]} columns.')
top250.head()

The dataframe has 250 rows and 8 columns.

,Title,Year,Rating,Runtime,Genre,Director,Score,BoxOffice
0,The Shawshank Redemption,1994,R,142 min,Drama,Frank Darabont,9.3,"$28,767,189"
1,The Godfather,1972,R,175 min,"Crime, Drama",Francis Ford Coppola,9.2,"$136,381,073"
2,The Dark Knight,2008,PG-13,152 min,"Action, Crime, Drama",Christopher Nolan,9.0,"$534,987,076"
3,The Godfather Part II,1974,R,202 min,"Crime, Drama",Francis Ford Coppola,9.0,"$47,834,595"
4,12 Angry Men,1957,Approved,96 min,"Crime, Drama",Sidney Lumet,9.0,NaN

In [10]:
top250.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Title      250 non-null    object
 1   Year       250 non-null    int64
 2   Rating     250 non-null    object
 3   Runtime    250 non-null    object
 4   Genre      250 non-null    object
 5   Director   250 non-null    object
 6   Score      250 non-null    float64
 7   BoxOffice  220 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 15.8+ KB

In [11]:
top250.describe()

              Year       Score
count   250.000000  250.000000
mean   1986.488000    8.310000
std      25.225287    0.228888
min    1921.000000    8.000000
25%    1966.250000    8.100000
50%    1994.000000    8.200000
75%    2006.750000    8.400000
max    2022.000000    9.300000

### found problems using NA values, which made it so we had to go back and adjust how we got the data, also noticed that box office is still a character so we have to adjust that as well

# Cleaning data

In [12]:
for char in [',', '$']:
    top250['BoxOffice'] = top250['BoxOffice'].str.replace(char, '') 

top250['BoxOffice'] = top250['BoxOffice'].astype(float)

/var/folders/sb/ps31m43x4gn1g03b1f4nwgt40000gn/T/ipykernel_67406/970103514.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  top250['BoxOffice'] = top250['BoxOffice'].str.replace(char, '')

In [13]:
top250.describe()

              Year       Score     BoxOffice
count   250.000000  250.000000  2.200000e+02
mean   1986.488000    8.310000  1.026560e+08
std      25.225287    0.228888  1.447099e+08
min    1921.000000    8.000000  5.090000e+02
25%    1966.250000    8.100000  6.248739e+06
50%    1994.000000    8.200000  4.378408e+07
75%    2006.750000    8.400000  1.495987e+08
max    2022.000000    9.300000  8.583730e+08