In [1]:
# Importing required packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# Reading data from csv
top250 = pd.read_csv('top250.csv')
top250 = top250[['Title', 'Year', 'Rating', 'Runtime', 'Genre', 'Director', 'Score', 'BoxOffice']]

In [6]:
print(f'The dataframe has {top250.shape[0]} rows and {top250.shape[1]} columns.')
top250.head()

The dataframe has 250 rows and 8 columns.

,Title,Year,Rating,Runtime,Genre,Director,Score,BoxOffice
0,The Shawshank Redemption,1994,R,142 min,Drama,Frank Darabont,9.3,"$28,767,189"
1,The Godfather,1972,R,175 min,"Crime, Drama",Francis Ford Coppola,9.2,"$136,381,073"
2,The Dark Knight,2008,PG-13,152 min,"Action, Crime, Drama",Christopher Nolan,9.0,"$534,987,076"
3,The Godfather Part II,1974,R,202 min,"Crime, Drama",Francis Ford Coppola,9.0,"$47,834,595"
4,12 Angry Men,1957,Approved,96 min,"Crime, Drama",Sidney Lumet,9.0,NaN

In [7]:
top250.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Title      250 non-null    object
 1   Year       250 non-null    int64
 2   Rating     250 non-null    object
 3   Runtime    250 non-null    object
 4   Genre      250 non-null    object
 5   Director   250 non-null    object
 6   Score      250 non-null    float64
 7   BoxOffice  220 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 15.8+ KB

In [ ]:
for char in [',', '$']:
    top250['BoxOffice'] = top250['BoxOffice'].str.replace(char, '') 

top250['BoxOffice'] = top250['BoxOffice'].astype(float)

In [11]:
top250[top250.duplicated()]

Empty DataFrame
Columns: [Title, Year, Rating, Runtime, Genre, Director, Score, BoxOffice]
Index: []